* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --background-gradient: linear-gradient(135deg, #153677, #4e085f);
    --button-background: #ff5945;
    --header: #002765;
    --todo-background: #edeef0;
    --todo-box: #fffff2
}

.container {
    background: var(--background-gradient);
    min-height: 100vh;
    padding: 10px;
    width: 100%;
}


/* Todo Box */
.todo {
    background: var(--todo-box);
    border-radius: 10px;
    margin: 100px auto 20px;
    max-width: 540px;
    padding: 40px 30px 70px;
    width: 100%;
}

.todo h1 {
    align-items: center;
    color: var(--header);
    display: flex;
    margin-bottom: 20px;
}

.todo h1 img {
    margin-left: 10px;
    width: 50px;
}


/* Add Todo */
.row {
    align-items: center;
    background: var(--todo-background);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 20px;
}

input {
    background: transparent;
    border: none;
    flex: 1;
    outline: none;
    padding: 10px;
}

button {
    background: var(--button-background);
    border: none;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 16px 50px;
}


/* Todo List */
ul li {
    cursor: pointer;
    font-size: 17px;
    list-style: none;
    padding: 12px 8px 12px 50px;
    position: relative;
    user-select: none;
}

ul li::before {
    background-image: url(../img/unchecked.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    content: '';
    height: 28px;
    left: 8px;
    position: absolute;
    top: 9px;
    width: 28px;
}

ul li.completed {
    color: #555;
    text-decoration: line-through;
}

ul li.completed::before {
    background-image: url(../img/checked.png);
}

ul li span {
    border-radius: 50%;
    color: #555;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5px;
    width: 40px;
}

ul li span:hover {
    background: var(--todo-background);
}